php_value max_input_vars 6000
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /intercam/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /intercam/index.php [L]
</IfModule>
