nav_width =			44px;
nav_height =		nav_width * 1.2;
nav_icon_size =	3rem;
nav_color =			white;

// Estilos del menú normal
.nav_social
.nav_search
	hide()

.nav--top
	background: #4874B9
	color: #fff
	height: 50px
	margin: 0 auto
	relative()
	ul:not(.sub-menu)
		flex()
		justify-content(space-between)
		margin: 0 auto
		padding: 13px 0 0 0
		li
			list-style: none
			margin 0
			padding 0
			// relative()
			a
				relative()
				z-index: 1
			&.menu-item-has-children
				&:after
					absolute()
					// bg rgba(negro,0.2)
					content: ''
					height: 200px
					hide()
					top: 0
					width: 200px
					z-index: 0
			&:hover
				.sub-menu
					max-height 200vh
				&:after
					block()
	.sub-menu
		absolute()
		max-height 0
		overflow hidden
		z-index 99
		transicion(0.3s all ease)
		bg #f1f2f2
		padding: 0
		margin-top: 54px
		a
			color #58595b
			padding 0.5rem 0.9rem !important
			block()
			&:hover
				bg #abc9fd
		li
			bg azulReflex
			display block
			text-align left
			width 100% !important


@media screen and (max-width : med_query)
	.nav--top
		bg none
		color: nav_color;
		cursor: pointer;
		height: nav_height;
		overflow: hidden;
		position: absolute;
		right: 0
		top 0
		width 15%
		z-index: 10;
		ul:not(.sub-menu)
			padding-top: 0
		&:after
			// line-height: 1;
			// text-align: center;
			absolute();
			align-items(flex-start)
			bg color__resaltado
			color blanco
			content: "☰";
			flex()
			font-size: nav_icon_size;
			height 100%;
			justify-content: center
			right: 0;
			top: 0;
			width: 15vw;
		// Estilos de los botones en menú responsive
		li
			relative()
			bg rgba(color__resaltado, 0.9)
			border-bottom: 1px solid blanco
			a
				relative()
				padding: 1rem
				&:after
					absolute()
					content ''
					bg url(images/img_flecha.svg) no-repeat center center
					background-size 100% auto
					height 18px
					right 1.2rem
					rotar 0deg
					top 50%
					transform-origin: center;
					width 18px
					transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					transform:translate(0,-50%)
					-ms-transform:translate(0,-50%)
					-webkit-transform:translate(0,-50%)
			&:hover
				a
					&:after
						rotar 90deg
		.sub-menu
			relative()
			block()
			padding 0
			z-index 1
			width 100%
			margin-top: 0 !important
			li
				bg blanco
				vertical-align top
				a
					color #515151
					font-size 0.85em
					&:hover
						color blanco
					&:after
						hide()

	.nav--top__list
		// height: 80px;
		left:  0;
		list-style: none;
		margin:  0;
		padding: 0;
		//Este padding top baja el contenido respecto a la hamburguesa
		// padding-top: 92.6px;
		position: relative;
		top: 0;
		width: 100%;
		z-index: -1;
		flex-direction(column)
		z-index: 99
	.checkbox-hack__label
		// border 1px solid negro
		cursor: pointer;
		height: nav_height*2;
		right:0;
		margin:0;
		overflow: hidden;
		position: absolute;
		top:0;
		width: 15vw;
		z-index: 100;

.checkbox__hack
	display: none;
	&:checked
		& ~ .nav--top
			overflow: visible;
			width 100%
			&:after 
				content:"x";
