@css {
	/*
		Theme Name: Borderplex
		Author: Nodo
		Author URI: http://nodo.pw/
		Description: Hoja de estilos de la página de Borderplex
		Version: 1.0
		*/
}

/* <---------- Valores Stylus ----------> */
@import "valoresDefault.styl"

@import "style--fonts.styl"

@import "style--reset.styl"


// el__color = #474646
// color__fondo = #f3f3f3
// color__resaltado = #d61159
// f__familia = 'Lato', sans-serif;
// f__uno = 17px
// casi__blanco = #EFEFEF
// casi__negro = #474646
// max_width = 1236px
// med_query = 640px

/*generales*/

section
	margin: 0
	overflow: hidden
	width: 100%
header
	height: auto
	width: 100%
header figure
	display: inline-block
	margin: 10px 0 10px 10px
	width: 75%
.header_right
	background: #F1F1F1
	color: #000
	font-size: .7em
	height: 20px
	height: 37px
	margin: 0
	padding: 5px 5px 0 0
	position: absolute
	right: 0
	top: 0
	width: 450px
.header_right ul
	display: inline-block
.header_right ul li
	display: inline-block
.search
	display: inline-block
.social_media
	margin: 0
.social_media a
	display: inline-block
nav
	background: #4874B9
	height: 50px
	color: #fff
	margin: 0 auto
nav ul
	width: 90%
	margin: 0 auto
	padding: 13px 0 0 0
nav ul li
	display: inline-block
	margin: 0 6%
nav ul li:last-child
	margin: 0 0 0 3%
nav ul li:first-child
	margin: 0 3% 0 0
.breadcrumb
	background: #224294
	height: 30px
	color: #fff
	margin: 0 auto
.a_breadcrum
	width: 90%
	margin: 0 auto
	padding: 4px 0 0 0
h3
	font-size: 2em
p
	font-size: 1.2em
.slider
	position: relative
.slider figure img
	width: 100%
	overflow: hidden
.slider_caption
	background: #4874B9
	position: absolute
	width: 435px
	height: 200px
	color: #fff
	right: 20px
	top: 160px
	padding: 20px
.slider_caption p
	font-size: 1.3em
	margin: 0 0 20px 0
.btn
	width: 185px
	text-transform: uppercase
	font-size: 1em
	height: 40px
	display: block
	position: relative
	font-weight: bold
	color: #fff
.btn_t
	width: 100%
	height: 100%
	position: absolute
	top: 0
.btn_t a
	margin: 5% 0 0 12%
	display: block
.btn_arrow
	background: #fff
	height: 100%
	opacity: 0.6
	position: absolute
	right: 0
	top: 0
	width: 20%
.btn img
	position: absolute
	right: 7%
	top: 10%
	width: 5%
.yellow
	background: #FBB716
.green
	background: #00963B
.green_b
	width: 100%
	margin: 0
	height: 40px
	background: #2CB783
.col_2
	width: 49.8%
	margin: 0
	display: inline-block
	vertical-align: top
.col_2 h3
	margin: 80px 15% 0 15%
.col_2 p
	margin: 20px 15%
	font-style: italic
	color: #565656
	line-height: 1.5em
.map
	width: 100%
.services_home
	width: 47%
	margin: 80px auto
.services_home figure
	margin: 0 0 -40px 0
.gray
	background: #F2F2F2
.news_box
	border-right: 1px solid #5F5F5F
.news
	margin: 40px 10% 60px 10%
.news p
	margin: 0 0 20px 0!important
	font-style: normal!important
	line-height: 1.2em !important
	display: inline-block
	vertical-align: top
.news p.title
	font-weight: bold
	font-style: normal!important
	color: #000!important
	margin: 10px 0 5px 0!important
	display: inline-block
	vertical-align: top
figure.highlights
	width: 143px
	height: 143px
	background: #000
	display: inline-block
	vertical-align: top
footer
	display: block
.blue_bar
	background: #224294
	width: 100%
	height: 60px
	color: #fff
.info
	width: 70%
	display: inline-block
	margin: 0 0  0 5%
.redes_footer
	width: 20%
	display: inline-block
	vertical-align: top
	margin: 0 0 0 40px
footer p
	display: inline-block
	vertical-align: top
	margin: 20px 0 0 60px
	color: #fff
	font-style: normal
	font-size: 1em
footer a
	width: 30px
	background: #fff
	height: 30px
	display: inline-block
	vertical-align: top
	margin: 15px 0 0 30px
	color: #00963B
	border-radius: 49%
.twitter_footer img
	margin: 8px 0 0 8px
.facebook_footer img
	margin: 8px 0 0 12px
footer figure
	width: 60%
	margin: 0 auto
footer figure img
	margin: 0 auto
.image_qua
	margin: 60px auto
	width: 90%
.white
	color: #fff!important
.img_bg
	background: url(../images/back_quality.png) no-repeat
	background-size: cover
	height: 600px
	width: auto
.img_bg p
	font-style: normal
.p_sp
	margin: 130px 10% 0 10%!important
.qua_box
	width: 80%
	margin: 0 auto
	height: 250px
	padding: 0 0 40px 0
.qua_box figure
	background: #eee
	margin: 30px 20px 0 0
	width: 220px
	height: 220px
	display: inline-block
	vertical-align: top
.qua_box h4
	font-size: 1.2em
	display: inline-block
	vertical-align: top
.qua_box p
	display: inline-block
	vertical-align: top
	margin: 15px 0 0 0
.q_info
	display: inline-block
	vertical-align: top
	margin: 30px 0
	width: 70%
.col_1
	width: 80%
	margin: 60px auto
.col_1 h3
	font-style: normal
.col_1 p
	font-style: normal
.col_1 table
	margin: 30px auto
	width: 100%
	text-align: left
.col_1 table th
	border-top: 1px #000 solid
	border-bottom: 1px #000 solid
	padding: 10px 0
.col_1 table tbody tr
	margin: 0 0 10px 0

@media (max-width: 1130px) and (min-width: 740px)
	nav ul li
		display: inline-block
		margin: 0 4%
	nav ul li:last-child
		margin: 0 0 0 3%
	nav ul li:first-child
		margin: 0 3% 0 0
	.info
		width: 70%
		display: inline-block
		margin: 0 0  0 5%
	.redes_footer
		width: 20%
		display: inline-block
		vertical-align: top
		margin: 0 0 0 30px
	footer p
		display: inline-block
		vertical-align: top
		margin: 20px 0 0 0
		font-size: .9em
	footer a
		width: 30px
		background: #fff
		height: 30px
		display: inline-block
		vertical-align: top
		margin: 15px 0 0 30px
		color: #00963B
		border-radius: 49%
	.twitter_footer img
		margin: 8px 0 0 8px
	.facebook_footer img
		margin: 8px 0 0 12px

@media (max-width: 740px) and (min-width: 150px)
	header
		width: 100%
		height: 98px
		overflow: hidden
	header figure
		margin: 0
		padding: 0
		width: 80%
	header figure img
		width: 100%
	.header_right
		display: none
	nav
		display: none
	.breadcrumb
		width: 100%
		font-size: .7em
	.a_breadcrum
		padding: 8px 0 0 0
	.slider
		position: relative
		height: 340px
		overflow: hidden
	.slider figure img
		width: auto
		overflow: hidden
	.slider_caption
		position: absolute
		width: 90%
		height: 100px
		color: #fff
		padding: 20px
		top: 200px
	.slider_caption p
		font-size: .9em
		margin: 0 0 10px 0
	.btn
		width: 139px
		font-size: .8em
	.btn_t a
		margin: 8% 0  0 12%
	.col_2
		width: 100%
	.col_2 h3
		margin: 10px 10% 0 10%
		font-size: 1.4em
	.col_2 p
		font-size: 1em
		line-height: 1.2em
	.services_home
		width: 80%
		margin: 15px auto 15px auto
	.services_home figure img
		width: 100%
		overflow: hidden
	.news_box
		border: none
	.news
		margin: 20px 10%
	.blue_bar
		height: 130px
	.info
		width: 80%
		margin: 0 auto
		display: block
	.redes_footer
		width: 40%
		margin: 0 auto
		display: block
	footer p
		display: inline-block
		vertical-align: top
		margin: 10px 0 0 0
		font-size: .9em
		text-align: center
	footer a
		width: 30px
		background: #fff
		height: 30px
		display: inline-block
		vertical-align: top
		margin: 15px 0 0 30px
		color: #00963B
		border-radius: 49%
	.twitter_footer
		margin: 15px 10px 0 4px
	footer figure img
		width: 80%
		margin: 0 auto

// @import "style--fomulario.styl"
// @import "style--nav.styl"
// @import "style--opcionales.styl"
._oculto
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	&.focusable:active, &.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto